<style type="text/css">
body, div, ul, li ,img{
	margin: 0px;
	padding: 0px;
	color: #666;
	font: 400 14px/1.5 "宋体", Tahoma, Helvetica, arial, sans-serif;
}
a, a:HOVER, a:LINK {
	text-decoration: none;
}
.content-toolbar{
   float:right;
   margin-right:20px;
}
.modal-content{
   height:530px;
   overflow:hidden;
}
.modal-content .modal-body{
   height:400px;
   overflow:auto;
   margin:0px;
   padding:0px;
}
.modal .modal-footer{
	   text-align: center;
}
.fixed-table{
   table-layout:fixed;
}
.fixed-table tr td {   
    text-overflow: ellipsis; /* for IE */  
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;   
    white-space: nowrap;   
    border: 1px solid;   
    text-align: left   
} 
</style>
<div class="export-breadcrumb">
	<ol class="breadcrumb">
	  <li><a href="#">系统管理</a></li>
	  <li><a href="#">导出设置</a></li>
	</ol>
</div>
<div class="content-toolbar">
    <div class="btn-group">
        #if($shiro.hasPermission('system:export:add'))
	    	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal" data-backdrop="static" ><span class="glyphicon glyphicon-plus"></span>添加模型</button>
		#end
		#if($shiro.hasPermission('system:export:export'))
		   #if($model.has('sys_export_model'))
		     <a class="btn btn-default" href="$request.getContextPath()/common/export/excel/sys_export_model/xlsx"><span class="glyphicon glyphicon-export"></span>导出EXCEL</a>
	       #end
		#end
	</div>
</div>
<div class="content-body">
	<table class="table table-hover table-bordered table-striped table-responsive fixed-table">
	  <thead>
	    <tr>
	      <th width="50px">模型名称</th>
	      <th width="30%">英文字段</th>
	      <th width="30%">中文字段</th>
	      <th width="60px">生成时间</th>
	      <th width="100px">操作</th>
	    </tr>
	  </thead>
	  <tbody>
	   #foreach($exportModel in ${pageBean.recordList})
	    <tr>
	      <td>$!exportModel.modelName</td>
	      <td>$!exportModel.enames</td>
	      <td>$!exportModel.cnames</td>
	      <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!exportModel.createTime)</td>
	      <td>
	      	#if($shiro.hasPermission('system:export:view'))
	      	   <a class="btn btn-default" data-toggle="modal" data-backdrop="static" onclick="viewExportModel('$!exportModel.modelId')"><span class="glyphicon glyphicon-eye-open"></span>查看</a>
		    #end
	      	#if($shiro.hasPermission('system:export:edit'))
		       <a class="btn btn-default" data-toggle="modal" data-backdrop="static" onclick="editExportModel('$!exportModel.modelId','$!exportModel.modelName')"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
		    #end
	      	#if($shiro.hasPermission('system:export:delete'))
		       <a class="btn btn-default" onclick="deleteExportModel('$!exportModel.modelId','$!exportModel.modelName','$!pageBean.currentPage')"><span class="glyphicon glyphicon-remove"></span>删除</a>
		    #end
	      </td>
	    </tr>
	   #end
	  </tbody>
	</table>
</div>
#parse("/common/layout/page.vm")
#parse("/common/include/modal.vm")
<link href="$request.getContextPath()/resources/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="$request.getContextPath()/resources/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">

<script src="$request.getContextPath()/resources/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$request.getContextPath()/resources/bootstrap-table/bootstrap-table-editable.js"></script>
<script src="$request.getContextPath()/resources/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="$request.getContextPath()/resources/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
var tableName=null,cnames=[],enames=[];
$(function(){
   $('#tablesSelect').change(function(){
	  tableName=$(this).children('option:selected').val();
	  if(tableName){
	     $.get('$request.getContextPath()/system/export/select?tableName='+tableName,function(fields){
	     	  loadFields(fields);
	     });
	  }	
   });
});
function stateFormatter(value, row, index) {
    if(value==true||value=='true'){
    	return { checked: true}
    }
    return null;
}
function loadFields(fields){
   for(var i=0,len=fields.length;i<len;i++){
      fields[i].state=false;
   }
   $("#table").bootstrapTable('removeAll');
   $("#table").bootstrapTable('load', fields);
}
function saveModel(){
	var selections=$('#table').bootstrapTable('getAllSelections');
	for(var i=0,len=selections.length;i<len;i++){
	   var selection=selections[i];
	   enames.push(selection.fieldName);
	   if(!selection.remarks){
	     selection.remarks=" ";
	   }
	   cnames.push(selection.remarks);
	}
	if(tableName){
	    $("#modelName").val(tableName);
	}
    $("#enames").val(enames.join(','));
    $("#cnames").val(cnames.join(','));
    return true;
}
function deleteExportModel(modelId,modelName,currentPage){
   $("#deleteForm").attr("action","$request.getContextPath()/system/export/delete?modelId="+modelId+"&modelName="+modelName+"&currentPage="+currentPage);
   $('#deleteModal').modal({
        keyboard: true
    });
}
function viewExportModel(modelId){
    $.get("$request.getContextPath()/system/export/view?modelId="+modelId,function(data){
    	$("#viewTable").bootstrapTable('removeAll');
    	$("#viewTable").bootstrapTable('load', data);
    	$('#viewModal').modal({
        	keyboard: true
        });
    });
}
var modelId=null;
function editExportModel(id){
	modelId=id;
    $.get("$request.getContextPath()/system/export/view?modelId="+modelId,function(data){
    	$("#editTable").bootstrapTable('removeAll');
    	$("#editTable").bootstrapTable('load', data);
    	$('#editModal').modal({
        	keyboard: true
        });
    });
}
function updateModel(){
	var selections=$('#editTable').bootstrapTable('getAllSelections');
	console.log(selections);
	for(var i=0,len=selections.length;i<len;i++){
	   var selection=selections[i];
	   enames.push(selection.fieldName);
	   if(!selection.remarks){
	     selection.remarks=" ";
	   }
	   cnames.push(selection.remarks);
	}
	if(modelId){
	    $("#edit_modelId").val(modelId);
	}
    $("#edit_enames").val(enames.join(','));
    $("#edit_cnames").val(cnames.join(','));
    return true;
}
</script>
##添加模型modal
<div class="modal fade operation" id="addModal" tabindex="-1" role="dialog" backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">
		     <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		         <h4 class="modal-title" id="myModalLabel">添加导出模型</h4>
		     </div>
		     <div class="modal-body">
		         <div class="container-fluid">
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					    <label  class="col-sm-2 control-label">选择模型</label>
					    <div class="col-sm-4">
					      <select id="tablesSelect" class="form-control selectpicker">
							#foreach($table in $tables)
							   #if($velocityCount==1)
							      <option value="$!table.tableName" selected>$!table.tableName</option>
							   #else
							      <option value="$!table.tableName">$!table.tableName</option>
							   #end
							#end
						  </select>
					    </div>
					  </div>
					</form>
				</div>
				<div>
					<table id="table" data-toggle="table" data-click-to-select="true">
					    <thead>
					      <tr>
					         <th data-field="state" data-checkbox="true" data-formatter="stateFormatter"></th>
					         <th data-field="fieldName">字段</th>
					         <th data-field="remarks" data-editable="true">注释</th>
					         <th data-field="fieldType">类型</th>
					         <th data-field="fieldSize">长度</th>
					      </tr>
				        </thead>
				        <tbody>
					        #foreach($field in $fields)
					          <tr>
						         <td>false</td>
						         <td>$!field.fieldName</td>
						         <td>$!field.remarks</td>
						         <td>$!field.fieldType</td>
						         <td>$!field.fieldSize</td>
						      </tr>
					       #end
				        </tbody>
					</table>
				</div>
		     </div>
		     <div class="modal-footer">
		          <form id="saveModelForm" action="$request.getContextPath()/system/export/save" method="post">
		             <input type="hidden" id="modelName" name="modelName" value="$!modelName">
		             <input type="hidden" id="cnames" name="cnames" value="">
		             <input type="hidden" id="enames" name="enames" value="">
			         <button type="submit" class="btn btn-lg" onclick="return saveModel()">保存</button>
				  	 <button type="button" class="btn btn-lg" data-dismiss="modal">关闭</button>
		          </form>
		     </div>
		</div>
	</div>
</div>
##查看模型详情
<div class="modal fade operation" id="viewModal" tabindex="-1" role="dialog" backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-t itle" id="myModalLabel">查看导出模型</h4>
			</div>
			<div class="modal-body">
				<div>
					<table id="viewTable" data-toggle="table">
						<thead>
							<tr>
								<th data-field="state" data-checkbox="true"
									data-formatter="stateFormatter" disabled="disabled"></th>
								<th data-field="fieldName">字段</th>
								<th data-field="remarks">注释</th>
								<th data-field="fieldType">类型</th>
								<th data-field="fieldSize">长度</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-lg" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
##编辑导出模型
<div class="modal fade operation" id="editModal" tabindex="-1" role="dialog" backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-t itle" id="myModalLabel">编辑导出模型</h4>
			</div>
			<div class="modal-body">
				<div>
					<table id="editTable" data-toggle="table" data-click-to-select="true">
						<thead>
							<tr>
								<th data-field="state" data-checkbox="true"
									data-formatter="stateFormatter"></th>
								<th data-field="fieldName">字段</th>
								<th data-field="remarks" data-editable="true">注释</th>
								<th data-field="fieldType">类型</th>
								<th data-field="fieldSize">长度</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
		          <form id="updateModelForm" action="$request.getContextPath()/system/export/update" method="post">
		             <input type="hidden" id="edit_modelId" name="modelId" value="">
		             <input type="hidden" id="edit_cnames" name="cnames" value="">
		             <input type="hidden" id="edit_enames" name="enames" value="">
			         <button type="submit" class="btn btn-lg" onclick="return updateModel()">保存</button>
				  	 <button type="button" class="btn btn-lg" data-dismiss="modal">关闭</button>
		          </form>
		     </div>
		</div>
	</div>
</div>