<style type="text/css">
body, div, ul, li ,img{
	margin: 0px;
	padding: 0px;
	color: #666;
	font: 400 14px/1.5 "宋体", Tahoma, Helvetica, arial, sans-serif;
}
a, a:HOVER, a:LINK {
	text-decoration: none;
}
.content-toolbar{
   float:right;
   margin-right:20px;
}
.modal-content{
   height:520px;
   overflow:hidden;
}
.modal-content .modal-body{
   height:400px;
   overflow:auto;
}
.modal .modal-footer{
	   text-align: center;
	}
</style>
<div class="export-breadcrumb">
	<ol class="breadcrumb">
	  <li><a href="#">系统管理</a></li>
	  <li><a href="#">导出设置</a></li>
	</ol>
</div>
<div class="content-toolbar">
    <div class="btn-group">
	    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal" data-backdrop="static" ><span class="glyphicon glyphicon-plus"></span>添加模型</button>
	</div>
</div>
<div class="content-body">
	<table class="table table-hover table-bordered table-striped table-responsive">
	  <thead>
	    <tr>
	      <th>模型名称</th>
	      <th>英文字段</th>
	      <th>中文字段</th>
	      <th>生成时间</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	   #foreach($model in ${pageBean.recordList})
	    <tr>
	      <td>$!model.modelName</td>
	      <td style="max-width:400px">$!model.enames</td>
	      <td style="max-width:400px">$!model.cnames</td>
	      <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!model.createTime)</td>
	      <td>
	      	 <a class="btn btn-default" onclick="deleteExportModel('$!model.modelId','$!model.modelName','$!pageBean.currentPage')"><span class="glyphicon glyphicon-remove"></span>删除</a>
	      </td>
	    </tr>
	   #end
	  </tbody>
	</table>
</div>
#parse("/common/layout/page.vm")
#parse("/common/include/modal.vm")

<link href="$request.getContextPath()/resources/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="$request.getContextPath()/resources/bootstrap-table/bootstrap-table.min.js"></script>
<script src="$request.getContextPath()/resources/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
var tableName=null,cnames=[],enames=[];
$(function(){
   $('#tablesSelect').change(function(){
	  tableName=$(this).children('option:selected').val();
	  if(tableName){
	     $.get('$request.getContextPath()/system/export/select?tableName='+tableName,function(fields){
	     	  loadFields(fields);
	     });
	  }	
   });
});
function stateFormatter(value, row, index) {
    if(value&&value=='true'){
    	return { checked: true}
    }
    return null;
}
function loadFields(fields){
   for(var i=0,len=fields.length;i<len;i++){
      fields[i].state=false;
   }
   $("#table").bootstrapTable('removeAll');
   $("#table").bootstrapTable('load', fields);
}
function saveModel(){
	var selections=$('#table').bootstrapTable('getAllSelections');
	console.log(selections);
	for(var i=0,len=selections.length;i<len;i++){
	   var selection=selections[i];
	   enames.push(selection.fieldName);
	   if(!selection.remarks){
	     selection.remarks=" ";
	   }
	   cnames.push(selection.remarks);
	}
	if(tableName){
	    $("#modelName").val(tableName);
	}
    $("#enames").val(enames.join(','));
    $("#cnames").val(cnames.join(','));
    return true;
}
function deleteExportModel(modelId,modelName,currentPage){
   $("#deleteForm").attr("action","$request.getContextPath()/system/export/delete?modelId="+modelId+"&modelName="+modelName+"&currentPage="+currentPage);
   $('#deleteModal').modal({
        keyboard: true
    });
}
</script>
<div class="modal fade operation" id="addModal" tabindex="-1" role="dialog" backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">
		     <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		         <h4 class="modal-title" id="myModalLabel">添加导出模型</h4>
		     </div>
		     <div class="modal-body">
		         <div class="container-fluid">
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					    <label  class="col-sm-2 control-label">选择模型</label>
					    <div class="col-sm-4">
					      <select id="tablesSelect" class="form-control selectpicker">
							#foreach($table in $tables)
							   #if($velocityCount==1)
							      <option value="$!table.tableName" selected>$!table.tableName</option>
							   #else
							      <option value="$!table.tableName">$!table.tableName</option>
							   #end
							#end
						  </select>
					    </div>
					  </div>
					</form>
				</div>
				<div>
					<table id="table" data-toggle="table" data-click-to-select="true">
					    <thead>
					      <tr>
					         <th data-field="state" data-checkbox="true" data-formatter="stateFormatter"></th>
					         <th data-field="fieldName">字段</th>
					         <th data-field="remarks">注释</th>
					         <th data-field="fieldType">类型</th>
					         <th data-field="fieldSize">长度</th>
					      </tr>
				        </thead>
				        <tbody>
					        #foreach($field in $fields)
					          <tr>
						         <td>false</td>
						         <td>$!field.fieldName</td>
						         <td>$!field.remarks</td>
						         <td>$!field.fieldType</td>
						         <td>$!field.fieldSize</td>
						      </tr>
					       #end
				        </tbody>
					</table>
				</div>
		     </div>
		     <div class="modal-footer">
		          <form id="saveModelForm" action="$request.getContextPath()/system/export/save" method="post">
		             <input type="hidden" id="modelName" name="modelName" value="$!modelName">
		             <input type="hidden" id="cnames" name="cnames" value="">
		             <input type="hidden" id="enames" name="enames" value="">
			         <button type="submit" class="btn btn-lg" onclick="return saveModel()">保存</button>
				  	 <button type="button" class="btn btn-lg" data-dismiss="modal">关闭</button>
		          </form>
		     </div>
		</div>
	</div>
</div>