<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lovecws.shop.system.dao.impl.SysRoleMenuDaoImpl">
	<resultMap id="SysRoleMenuResultMap" type="com.lovecws.shop.system.entity.SysRoleMenu">
		<id column="role_menu_id" property="roleMenuId" jdbcType="INTEGER" />
		<result column="role_menu_status" property="roleMenuStatus"
			jdbcType="VARCHAR" />

		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" />

		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="menu_id" property="menuId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="SysRoleMenuColumn">
		role_menu_id,role_menu_status,creator,create_time,role_id,menu_id
	</sql>

	<!-- 查询角色菜单列表 -->
	<select id="listByColumn" resultMap="SysRoleMenuResultMap"
		parameterType="map">
		select
		<include refid="SysRoleMenuColumn"></include>
		from sys_role_menu
		<where>
			<if test="roleId!=null and roleId!=''">
				and role_id=#{roleId}
			</if>
			<if test="menuId!=null and menuId!=''">
				and menu_id=#{menuId}
			</if>
			<if test="roleMenuStatus!=null and roleMenuStatus!=''">
				and role_menu_status=#{roleMenuStatus}
			</if>
		</where>
		<if test="beginIndex!=null and numPerPage!=null">
			limit #{beginIndex},#{numPerPage}
		</if>
	</select>

	<!-- 获取角色菜单数量 -->
	<select id="getCountByColumn" resultType="LONG">
		select count(roleMenu_id) from sys_role_menu
		<where>
			<if test="roleId!=null and roleId!=''">
				and role_id=#{roleId}
			</if>
			<if test="menuId!=null and menuId!=''">
				and menu_id=#{menuId}
			</if>
			<if test="roleMenuStatus!=null and roleMenuStatus!=''">
				and role_menu_status=#{roleMenuStatus}
			</if>
		</where>
	</select>

	<!-- 获取角色菜单详情 -->
	<select id="selectByPrimaryKey" resultType="SysRoleMenu"
		parameterType="map">
		select
		<include refid="SysRoleMenuColumn"></include>
		from sys_role_menu
		where role_menu_id = #{roleMenuId}
	</select>

	<!-- 删除角色菜单 -->
	<delete id="deleteByPrimaryKey" parameterType="map">
		delete from
		sys_role_menu where role_menu_id=#{roleMenuId}
	</delete>

	<!-- 根据角色id删除角色菜单 -->
	<delete id="batchDeleteByColumn" parameterType="map">
		delete from sys_role_menu 
		<where>
		   <if test="roleId!=null">
		       and role_id=#{roleId} 
		   </if>
		</where>
	</delete>

	<!-- 插入角色菜单 -->
	<insert id="insert" parameterType="SysRoleMenu"
		useGeneratedKeys="true" keyProperty="roleMenuId">
		insert into sys_role_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleMenuStatus != null">
				role_menu_status,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="menuId != null">
				menu_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleMenuStatus != null">
				#{roleMenuStatus},
			</if>
			<if test="creator != null">
				#{creator},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="roleId != null">
				#{roleId},
			</if>
			<if test="menuId != null">
				#{menuId},
			</if>
		</trim>
	</insert>

	<!-- 更改角色菜单信息 -->
	<update id="updateByPrimaryKey" parameterType="SysRoleMenu">
		update sys_role_menu
		<set>
			<if test="roleMenuStatus != null">
				role_menu_status=#{roleMenuStatus},
			</if>
			<if test="creator != null">
				creator=#{creator},
			</if>
			<if test="createTime != null">
				create_time=#{createTime},
			</if>
			<if test="roleId != null">
				role_id=#{roleId},
			</if>
			<if test="menuId != null">
				menu_id=#{menuId},
			</if>
		</set>
		where role_menu_id = #{roleMenuId}
	</update>
</mapper>