<style type="text/css">
body, div, ul, li ,img{
	margin: 0px;
	padding: 0px;
	color: #666;
	font: 400 14px/1.5 "宋体", Tahoma, Helvetica, arial, sans-serif;
}
a, a:HOVER, a:LINK {
	text-decoration: none;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}
.searchform{
   margin-top:-20px;
   height:40px;
}
.searchform label{
   margin-top:8px;
}
.content-toolbar{
   float:right;
   margin-right:20px;
}
.btn-group .btn + .btn{
   margin-left:10px;
}
</style>
<script type="text/javascript">
function deletePermission(permissionId,qmenuId,qpermissionCode,qpermissionName,currentPage){
   $("#deleteForm").attr("action","$request.getContextPath()/system/permission/delete?permissionId="+permissionId+"&qmenuId="+qmenuId+"&qpermissionCode="+qpermissionCode+"&qpermissionName="+qpermissionName+"&currentPage="+currentPage);
   $('#deleteModal').modal({
        keyboard: true
    });
}
</script>
<div class="breadcrumb">
	<ol class="breadcrumb">
	  <li><a href="#">系统管理</a></li>
	  <li><a href="#">权限管理</a></li>
	</ol>
</div>
<div class="searchform container-fluid">
	<form class="form-inline" role="form" action="$request.getContextPath()/system/permission/list" method="get">
	  <div class="form-group">
	    <label for="qpermissionId" class="col-sm-4 control-label">父菜单</label>
	    <div class="col-sm-8">
		       <select class="form-control selectpicker" name="qmenuId" style="width:140px;">
			         <option value="">全部</option>
		          #foreach($menu in $subMenus)
		             #if($menu.menuId==$qmenuId)
		                 <option value="$!menu.menuId" selected>$!menu.menuName</option>
		             #else
				         <option value="$!menu.menuId">$!menu.menuName</option>
		             #end
		          #end
			   </select>
		 </div>
	  </div>
	  <div class="form-group">
	    <label for="qpermissionCode" class="col-sm-4 control-label">权限内码</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="qpermissionCode" value="$qpermissionCode" placeholder="请输入权限内码">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="qpermissionName" class="col-sm-4 control-label">权限名称</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="qpermissionName" value="$qpermissionName" placeholder="请输入权限名称">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-12">
	      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	    </div>
	  </div>
	</form>
</div>
<div class="content-toolbar">
    <div class="btn-group">
	    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/permission/add"><span class="glyphicon glyphicon-plus"></span>添加权限</button>
	    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-import"></span>导入权限</button>
	    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-export"></span>导出权限</button>
	</div>
</div>
<div class="content-body">
	<table class="table table-hover table-bordered table-striped table-responsive">
	  <thead>
	    <tr>
	      <th>权限内码</th>
	      <th>权限民称</th>
	      <th>权限值</th>
	      <th>权限路径</th>
	      <th>创建时间</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    #foreach($permission in ${pageBean.recordList})
	    <tr>
	      <td>$!permission.permissionCode</td>
	      <td>$!permission.permissionName</td>
	      <td>$!permission.permission</td>
	      <td>$!permission.permissionPath</td>
	      <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!permission.createTime)</td>
	      <td>
	      	 <a class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/permission/view?permissionId=$!permission.permissionId"><span class="glyphicon glyphicon-eye-open"></span>查看</a>
	      	 <a class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/permission/edit?permissionId=$!permission.permissionId&qmenuId=$!qmenuId&qpermissionCode=$!qpermissionCode&qpermissionName=$!qpermissionName" show="true"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
	      	 <a class="btn btn-default" onclick="deletePermission('$!permission.permissionId','$!qmenuId','$!qpermissionCode','$!qpermissionName','$!pageBean.currentPage')" ><span class="glyphicon glyphicon-remove"></span>删除</a>
	      </td>
	    </tr>
	    #end
	  </tbody>
	</table>
</div>
#parse("/common/layout/page.vm")
#parse("/common/include/modal.vm")