<style type="text/css">
.modal-content{
   height:540px;
   margin-left:-100px;
}
.modal-footer{
   float:left;
   margin-left:320px;
}
.modal-footer button{
   width:100px;
}
.radio-form{
   margin-top:6px;
}
</style>
<script type="text/javascript">
function selectIcon(){
   window.open('$request.getContextPath()/common/component/icon','newwindow','height=600,width=800,top=200,left=800,toolbar=no,menubar=no,scrollbars=yes, resizable=no,location=no, status=no');
}
</script>
<div class="modal-content">
     <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         <h4 class="modal-title" id="myModalLabel">查看权限详情</h4>
     </div>
     <div class="modal-body">
        <form class="form-horizontal" role="form" action="$request.getContextPath()/system/permission/save" method="post">
          <input type="hidden" name="_method" value="put">
          <div class="form-group">
		    <label for="permissionCode" class="col-sm-2 control-label">权限内码</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" name="permissionCode" value="$!permission.permissionCode" placeholder="请输入权限内码" required>
		    </div>
		    <div class="col-sm-2"></div>
		  </div>
		  <div class="form-group">
		    <label for="permissionName" class="col-sm-2 control-label">权限名称</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" name="permissionName" value="$!permission.permissionName" placeholder="请输入权限名称" required>
		    </div>
		    <div class="col-sm-2"></div>
		  </div>
		  <div class="form-group">
		    <label for="permission" class="col-sm-2 control-label">权限值</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" name="permission" value="$!permission.permission" placeholder="请输入权限值（system:user:view）" required>
		    </div>
		    <div class="col-sm-2"></div>
		  </div>
		  <div class="form-group">
		    <label for="permissionPath" class="col-sm-2 control-label">权限路径</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" name="permissionPath" value="$!permission.permissionPath" placeholder="请输入权限路径（system/user/view）" required>
		    </div>
		    <div class="col-sm-2"></div>
		  </div>
		  <div class="form-group">
		    <label for="lastname" class="col-sm-2 control-label">功能菜单</label>
		    <div class="col-sm-6">
			   <select class="form-control selectpicker" name="menuId"  data-style="btn-info" required>
		          #foreach($menu in $subMenus)
		             #if($menu.menuId==$permission.menuId)
		                 <option value="$!menu.menuId" selected>$!menu.menuName</option>
		             #else
				         <option value="$!menu.menuId">$!menu.menuName</option>
		             #end
		          #end
			   </select>
		    </div>
		    <div class="col-sm-4"></div>
		  </div>
		  <div class="form-group">
		    <label for="remark" class="col-sm-2 control-label">备注</label>
		    <div class="col-sm-8">
		      <textarea rows="5" class="form-control" name="remark"  placeholder="请输入权限描述信息">$!permission.remark</textarea>
		    </div>
		    <div class="col-sm-2"></div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-5 col-sm-7">
		        <button type="button" class="btn btn-lg" data-dismiss="modal">关闭</button>
		    </div>
		  </div>
		</form>
     </div>
</div>