<style type="text/css">
body, div, ul, li ,img{
	margin: 0px;
	padding: 0px;
	color: #666;
	font: 400 14px/1.5 "宋体", Tahoma, Helvetica, arial, sans-serif;
}
a, a:HOVER, a:LINK {
	text-decoration: none;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}
.searchform{
   margin-top:-20px;
   height:40px;
}
.searchform label{
   margin-top:8px;
}
.content-toolbar{
   float:right;
   margin-right:20px;
}
.btn-group .btn + .btn{
   margin-left:10px;
}
</style>
<script type="text/javascript">
function deleteMenu(menuId,qparentMenuId,qmenuCode,qmenuName,currentPage){
   $("#deleteForm").attr("action","$request.getContextPath()/system/menu/delete?menuId="+menuId+"&qparentMenuId="+qparentMenuId+"&qmenuCode="+qmenuCode+"&qmenuName="+qmenuName+"&currentPage="+currentPage);
   $('#deleteModal').modal({
        keyboard: true
    });
}
</script>
<div class="breadcrumb">
	<ol class="breadcrumb">
	  <li><a href="#">系统管理</a></li>
	  <li><a href="#">菜单管理</a></li>
	</ol>
</div>
<div class="searchform container-fluid">
	<form class="form-inline" role="form" action="$request.getContextPath()/system/menu/list" method="get">
	  <div class="form-group">
	    <label for="qparentMenuId" class="col-sm-4 control-label">父菜单</label>
	    <div class="col-sm-8">
		       <select class="form-control selectpicker" name="qparentMenuId" style="width:140px;">
			         <option value="">全部</option>
		          #foreach($menu in $topMenus)
		             #if($menu.menuId==$qparentMenuId)
		                 <option value="$!menu.menuId" selected>$!menu.menuName</option>
		             #else
				         <option value="$!menu.menuId">$!menu.menuName</option>
		             #end
		          #end
			   </select>
		 </div>
	  </div>
	  <div class="form-group">
	    <label for="qmenuCode" class="col-sm-4 control-label">菜单内码</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="qmenuCode" value="$qmenuCode" placeholder="请输入菜单内码">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="qmenuName" class="col-sm-4 control-label">菜单名称</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" name="qmenuName" value="$qmenuName" placeholder="菜单名称">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-12">
	      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	    </div>
	  </div>
	</form>
</div>
<div class="content-toolbar">
    <div class="btn-group">
	    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/menu/add"><span class="glyphicon glyphicon-plus"></span>添加菜单</button>
	    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-import"></span>导入菜单</button>
	    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-export"></span>导出菜单</button>
	</div>
</div>
<div class="content-body">
	<table class="table table-hover table-bordered table-striped table-responsive">
	  <thead>
	    <tr>
	      <th>菜单内码</th>
	      <th>菜单名称</th>
	      <th>菜单路径</th>
	      <th>菜单图标</th>
	      <th>菜单可见性</th>
	      <th>菜单排序</th>
	      <th>创建时间</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    #foreach($menu in ${pageBean.recordList})
	       <tr>
		      <td>$!menu.menuCode</td>
		      <td>$!menu.menuName</td>
		      <td>$!menu.menuUrl</td>
		      <td><span class="${menu.menuIcon}"></span></td>
		      <td>$!menu.menuVisible</td>
		      <td>$!menu.menuNum</td>
		      <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!menu.createTime)</td>
		      <td>
		      	 <a class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/menu/view?menuId=$!menu.menuId"><span class="glyphicon glyphicon-eye-open"></span>查看</a>
		      	 <a class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/menu/edit?menuId=$!menu.menuId&qparentMenuId=$!qparentMenuId&qmenuCode=$!qmenuCode&qmenuName=$!qmenuName&currentPage=$!pageBean.currentPage"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
		      	 <a class="btn btn-default" data-toggle="modal" onclick="deleteMenu('$menu.menuId','$!qparentMenuId','$!qmenuCode','$!qmenuName','$!currentPage')"><span class="glyphicon glyphicon-remove"></span>删除</a>
		         #if($menu.parentMenuId!=0)
		      		<a class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/permission/permission?menuId=$!menu.menuId"><span class="glyphicon glyphicon-cog"></span>添加权限</a>
		      	 #else
		      	    <a class="btn btn-default" data-toggle="modal" data-target="#modal" data-backdrop="static" href="$request.getContextPath()/system/menu/leaf?parentMenuId=$!menu.menuId"><span class="glyphicon glyphicon-leaf"></span>叶子菜单</a>
		         #end
		      </td>
		   </tr>
	    #end
	  </tbody>
	</table>
</div>
#parse("/common/layout/page.vm")
#parse("/common/include/modal.vm")