<style type="text/css">
	.modal .modal-footer{
	   text-align: center;
	}
	.modal{
	   margin-left:-200px;
	   margin-top:200px;
	   max-height:160px;
	   overflow:hidden;
	}
</style>
$(function(){
    $('body').on('hidden.bs.modal', '.modal', function () {
    	$(this).removeData('bs.modal');
	});
});
</script>
###modal
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

###删除提醒modal
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		         <h4 class="modal-title" id="myModalLabel">你确定要删除吗?</h4>
		    </div>
            <div class="modal-footer">
                 <form id="deleteForm" action="$deleteFormAction" method="post">
		             <input type="hidden" name="_method" value="delete">
			         <button type="submit" class="btn btn-lg">是</button>
			         <button type="button" class="btn btn-lg" data-dismiss="modal">否</button>
		         </form>
            </div>
        </div>
    </div>
</div>

###操作成功modal
<div class="modal fade" id="operationSuccessModal" tabindex="-1" role="dialog" backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		         <h4 class="modal-title" id="myModalLabel">操作信息</h4>
		    </div>
		    <div class="modal-body">
		         <h4 class="modal-title" id="myModalLabel">操作成功</h4>
		    </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-lg" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>

###操作失败modal
<div class="modal fade" id="operationFailureModal" tabindex="-1" role="dialog" backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		         <h4 class="modal-title" id="myModalLabel">操作信息</h4>
		    </div>
		    <div class="modal-body">
		         <h4 class="modal-title" id="myModalLabel">操作失败，请联系管理员</h4>
		    </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-lg" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>