<style type="text/css">
body, div, ul, li ,img{
	margin: 0px;
	padding: 0px;
	color: #666;
	font: 400 14px/1.5 "宋体", Tahoma, Helvetica, arial, sans-serif;
}
a, a:HOVER, a:LINK {
	text-decoration: none;
}
.panel{
    margin-top:0px;
    padding:0px;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}
.panel-group .panel-heading{
    padding:0px;
    height:40px;
    width:100%;
}
.panel-group .panel-heading .panel-title{
    height:100%;
    width:100%;
    padding-top:12px;
    padding-buttom:3px;
    padding-left:20px;
}
.panel-body{
    padding:0px;
    margin:0px;
    margin-left:10px;
    height:500px;
}
.panel-body ul,.panel-body ul li{
    padding-top:0px;
    padding-buttom:0px;
    padding:0px;
    margin:0px;
}
#accordion{
    width:100%;
    height:100%;
}
.li-click{
    background-color: #2fa4e7;
    color:#23527c;
}
.nav > li > a:focus{
    background-color:#2fa4e7;
    color:#23527c;
}
.nav > li > a:visited{
    background-color:#2fa4e7;
    color:#23527c;
}
</style>
<script type="text/javascript">
$(function() {
    $("li").click(function(){
         $("li").removeClass("li-click");
         $(this).addClass("li-click");
    });
});
</script>
<div class="panel-group" id="accordion">
  
    #foreach($menu in $menuData)
      <div class="panel panel-default">
        <div class="panel-heading">
             <a data-toggle="collapse" data-parent="#accordion" href="#manager-$velocityCount">
                <h4 class="panel-title"><span class="$menu.icon"></span>$menu.text</h4>
             </a>
        </div>
        #if($velocityCount==1)
          <div id="manager-$velocityCount" class="panel-collapse collapse in">
        #else
          <div id="manager-$velocityCount" class="panel-collapse collapse">
        #end
            <div class="panel-body">
                 <ul class="nav nav-list">
                 #if($!menu.nodes)
                    #foreach($subMenu in $menu.nodes)
                      <li class="list-group-item"><a href="$request.getContextPath()$!subMenu.src" target="menuFunction"><span class="$subMenu.icon"></span>$subMenu.text</a></li>
                    #end
                 #end
				 </ul>
            </div>
        </div>
      </div>
    #end
</div>
